In [68]:
import pandas as pd

fires = 'datasets/outputs/big_wildfires.csv'
temperatures = 'datasets/outputs/city_temp.csv'

data1 = pd.read_csv(fires)
data2 = pd.read_csv(temperatures)

data1['date'] = pd.to_datetime(data1['date'])
data2['date'] = pd.to_datetime(data2['date'])

data = data1.merge(data2, on='date')

In [69]:
data

,Unnamed: 0_x,date,latitude,longitude,satellite,instrument,avg_frp,surface_temp,confidence,fire_count,Unnamed: 0_y,max_temp,min_temp,mean_temp,rain,city
0,0,2001-01-03,32.8029,-116.68920,1.0,1.0,2284.50,348.1,100.0,1,308,80.0,45.0,62.5,0.0,los_angeles
1,0,2001-01-03,32.8029,-116.68920,1.0,1.0,2284.50,348.1,100.0,1,308,63.0,46.0,54.5,0.0,san_fran
2,0,2001-01-03,32.8029,-116.68920,1.0,1.0,2284.50,348.1,100.0,1,368,74.0,48.0,61.0,0.0,san_diego
3,1,2001-07-27,40.8004,-120.72985,1.0,1.0,2004.45,318.8,100.0,2,513,82.0,61.0,71.5,0.0,los_angeles
4,1,2001-07-27,40.8004,-120.72985,1.0,1.0,2004.45,318.8,100.0,2,513,64.0,52.0,58.0,0.0,san_fran
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1525,427,2020-10-20,37.4264,-119.10990,2.0,1.0,1874.70,304.6,100.0,1,7538,74.0,53.0,63.5,0.0,san_fran
1526,427,2020-10-20,37.4264,-119.10990,2.0,1.0,1874.70,304.6,100.0,1,7598,74.0,67.0,70.5,0.0,san_diego
1527,428,2020-10-26,37.4034,-119.06550,1.0,1.0,2099.80,318.1,100.0,1,7544,73.0,56.0,64.5,0.0,los_angeles
1528,428,2020-10-26,37.4034,-119.06550,1.0,1.0,2099.80,318.1,100.0,1,7544,73.0,58.0,65.5,0.0,san_fran
1529,428,2020-10-26,37.4034,-119.06550,1.0,1.0,2099.80,318.1,100.0,1,7604,73.0,56.0,64.5,0.0,san_diego

In [70]:
data.drop(columns=['Unnamed: 0_x', 'Unnamed: 0_y'], inplace=True)

data.to_csv('datasets/outputs/temp_and-fires.csv')
data = pd.read_csv('datasets/outputs/temp_and-fires.csv', parse_dates=['date'])

data.rename(columns={'Unnamed: 0': "record_#"}, inplace=True)

In [71]:
data.dtypes
data.columns
data

,record_#,date,latitude,longitude,satellite,instrument,avg_frp,surface_temp,confidence,fire_count,max_temp,min_temp,mean_temp,rain,city
0,0,2001-01-03,32.8029,-116.68920,1.0,1.0,2284.50,348.1,100.0,1,80.0,45.0,62.5,0.0,los_angeles
1,1,2001-01-03,32.8029,-116.68920,1.0,1.0,2284.50,348.1,100.0,1,63.0,46.0,54.5,0.0,san_fran
2,2,2001-01-03,32.8029,-116.68920,1.0,1.0,2284.50,348.1,100.0,1,74.0,48.0,61.0,0.0,san_diego
3,3,2001-07-27,40.8004,-120.72985,1.0,1.0,2004.45,318.8,100.0,2,82.0,61.0,71.5,0.0,los_angeles
4,4,2001-07-27,40.8004,-120.72985,1.0,1.0,2004.45,318.8,100.0,2,64.0,52.0,58.0,0.0,san_fran
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1525,1525,2020-10-20,37.4264,-119.10990,2.0,1.0,1874.70,304.6,100.0,1,74.0,53.0,63.5,0.0,san_fran
1526,1526,2020-10-20,37.4264,-119.10990,2.0,1.0,1874.70,304.6,100.0,1,74.0,67.0,70.5,0.0,san_diego
1527,1527,2020-10-26,37.4034,-119.06550,1.0,1.0,2099.80,318.1,100.0,1,73.0,56.0,64.5,0.0,los_angeles
1528,1528,2020-10-26,37.4034,-119.06550,1.0,1.0,2099.80,318.1,100.0,1,73.0,58.0,65.5,0.0,san_fran
1529,1529,2020-10-26,37.4034,-119.06550,1.0,1.0,2099.80,318.1,100.0,1,73.0,56.0,64.5,0.0,san_diego